{% extends 'base.html' %}
    {% block title %} List of players {% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col sm-12">
<img class="santa1" src="/static/secret-santa1.png">
 </div>
    <div class="col">
<h1 class="title">Players</h1>
{% for item in list : %}
<ul>
    <li class="list_items"> {{ item }} </li>
</ul>
{% endfor %}
   </div>
    </div>
<a href="{{ url_for('home') }}">
    <button class="btn btn-success rounded-pill px-3" role="button" > Home </button>
</a>
    </div>

{% endblock %}